@charset "utf-8";

body, h1 {
	font-family: "Raleway", sans-serif
}

body, html {
	height: 100%
}

.bgimg {
    background-image: url('img/sakura.jpeg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.img-me {
	width: 20%;
	height: 20%;
	margin: auto; /* center image */
}

.container-fluid {
     padding-top: 70px;
     padding-bottom: 70px;
 }
 
 .navbar {
     padding-top: 15px;
     padding-bottom: 15px;
     border: 0;
     border-radius: 0;
     margin-bottom: 0;
     font-size: 12px;
     letter-spacing: 5px;
 }
 
 .navbar-nav li a:hover {
     color: #CF3157 !important;
 }
 
 body {
     font: 20px "Montserrat", sans-serif;
     line-height: 1.8;
     color: #f5f6f7;
 }
 
 p {
 	font-size: 16px;
 }

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

p {
	font-size: 16px;
}

.margin {
	margin-bottom: 45px;
}
