@charset "utf-8";

body,h1, html {
	font-family: "Raleway", sans-serif
	height: 100%;
}

p {
	font-size: 16px;
}

.bgimg {
    background-image: url('img/sakura.jpeg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.img-me {
	width: 20%;
	height: 20%;
	margin: auto; /* center image */
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.margin {
	margin-bottom: 45px;
}
